[Install{{mozillaInstallHash "/usr/lib64/firefox"}}]
Default=default-release
Locked=1

[Profile0]
Name=Brunette
IsRelative=1
Path=default-release
Default=1

[General]
StartWithLastProfile=1
Version=2
